.container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label p {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.label span {
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
}
