.container {
  padding: 0 2rem 0 0;

  display: grid;
  gap: 1.875rem;
}

@media (max-width: 1100px) {
  .container {
    padding: 0;
  }
}

.mainContainer {
  flex: 1;
  margin-top: 30px;
  margin-left: 16rem;
}

@media (max-width: 1100px) {
  .mainContainer {
    margin-top: 0;
    margin-left: 14.5rem;
  }
}

.navbar {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #060e26;
  border-radius: 8px;
}

@media (max-width: 1100px) {
  .navbar {
    display: none;
  }
}

.navbar ul {
  display: flex;
  gap: 1.5rem;
}

.navbar ul li {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: rgba(4, 191, 104, 0.8);
}

.navbar ul li:hover {
  color: #04bf68;
}

.navbar ul li:hover {
  color: rgba(4);
}

.homeContent {
  background-color: #060e26;
  padding: 2rem;
  margin-top: 2rem;
}

@media (max-width: 1100px) {
  .homeContent {
    margin-top: 0;
  }
}

.main {
  display: flex;

  background-image: url('/assets/heroHome.svg');
  background-repeat: no-repeat;
  background-position: right;
}

@media (max-width: 1240px) {
  .main {
    background-image: none;
  }
}

.heroNotebookMain {
}

.main .welcome div {
  margin-bottom: 1rem;
}

.main .welcome h2 {
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height */

  color: #c5c6c7;
  margin-bottom: 0.75rem;
}

.main .welcome h1 {
  font-weight: 400;
  font-size: 42px;
  line-height: 51px;

  color: #c5c6c7;
  margin-bottom: 1rem;
}

.main .welcome h1 strong {
  font-weight: bold;
}

.main .welcome h3 {
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;

  color: #c5c6c7;
}

.main .welcome h3 strong {
  color: #f23827;
}

.main .welcome p {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  max-width: 400px;

  color: #c5c6c7;
  margin-top: 2rem;
  margin-bottom: 2.25rem;
}
@media (max-width: 1240px) {
  .main .welcome p {
    max-width: 700px;
  }
}

.technologiesMain {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.technologiesMain h2 {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #c5c6c7;
}

.technologiesCards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}

@media (max-width: 1300px) {
  .technologiesCards {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1050px) {
  .technologiesCards {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-left: 2rem;
  }
}

@media (max-width: 960px) {
  .technologiesCards {
    margin-left: 1rem;
  }
}

@media (max-width: 910px) {
  .technologiesCards {
    margin-left: 0.5rem;
  }
}

@media (max-width: 845px) {
  .technologiesCards {
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
  }
}

.footer {
  margin-top: 15rem;
  color: #c5c6c7;
  text-align: center;
}

.menuHamburger {
  position: fixed;
  top: 1rem;
  right: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  display: flex;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
  padding: 0 0 1rem 1rem;
  z-index: 100;
}

.menuHamburger div {
  background-color: #f23827;
  width: 1rem;
  height: 2px;
}

@media (min-width: 1100px) {
  .menuHamburger {
    display: none;
  }
}

.menuModal {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;

  display: flex;
  justify-content: flex-end;
  transition: all ease 0.5s;
}

.menuNavigationModal {
  position: relative;

  width: 70px;
  background-color: #010b40;
  padding-top: 4rem;
  padding-bottom: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.menuNavigationModal ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.menuNavigationModal ul li {
  cursor: pointer;
  border-radius: 5px;
}

.changleLanguageAndMode {
  z-index: 100;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.changleLanguageAndMode .switcherModal {
  transform: rotate(-90deg);
  margin-bottom: 9rem;
  margin-left: 5px;
}

.changleLanguageAndMode .changeLanguage {
  position: absolute;
  bottom: 25px;
  right: 15px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.changleLanguageAndMode .changeLanguage button {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  padding: 5px;
  font-size: 12px;
}

.burgerMenuBackground {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  background-color: #3f3f40;
  height: 50px;
}

.changeLanguageBackground {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: #3f3f40;
  height: 125px;
}
